.graph-tooltip {
  position: absolute;
  transform: translate(-50%, 25px);
  font-family: sans-serif;
  font-size: 16px;
  padding: 4px;
  border-radius: 3px;
  color: #eee;
  background: rgba(0,0,0,0.65);
  visibility: hidden; /* by default */
}

.grabbable {
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.grabbable:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
