.graph-tooltip {
  position: absolute;
  transform: translate(-50%, 25px);
  font-family: Sans-serif;
  font-size: 16px;
  padding: 4px;
  border-radius: 3px;
  color: lavender;
  background: midnightblue;
  opacity: 0.7;
  visibility: hidden; /* by default */
}

.grabbable {
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.grabbable:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
